<div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
            <div class="row flex-grow">
              <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div class="auth-form-transparent text-left p-3">
                  <div class="brand-logo">
                    <!-- <img src="http://www.bootstrapdash.com/demo/purple/jquery/template/assets/images/logo.svg" alt="logo"> -->
                  </div>
                  <h4>Welcome back!</h4>
                  <h6 class="font-weight-light">Happy to see you again!</h6>
                  <form class="pt-3" [formGroup]="resetPasswordd" (ngSubmit)="onClickChangePassword()">
                        <div class="form-group">
                          <label for="exampleInputEmail">Password</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                                <i class="mdi mdi-lock-outline text-primary"></i>
                              </span>
                            </div>
                            <input type="password" class="form-control form-control-lg border-left-0" id="" placeholder="Password" formControlName="Password" (keyup)="verifPassword($event)">
                          </div>
                        </div>
                       
                        <div class="form-group">
                          <label for="exampleInputPassword">ConfirmPassword</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                                <i class="mdi mdi-lock-outline text-primary"></i>
                              </span>
                            </div>
                            <input type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="ConfirmPassword" formControlName="Confirmpassword" (keyup)="verifPassword($event)">
                          </div>
                        </div>
                        
                        <div *ngIf="!result"><p style="color: red;"><i class="fa fa-exclamation-triangle"></i> Password doesn't match</p></div>
                        <div class="my-3">
                            <button type="submit"  [disabled] = "!result" [disabled]="!button" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" [routerLink]="['/login']" >CHANGE PASSWORD</button>
                         
                        </div>
                        
                      </form>
                </div>
              </div>
              <div class="col-lg-6 login-half-bg d-flex flex-row">
                <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018 All rights reserved.</p>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
